.error {
    margin-top: 10px;
    color: rgb(136, 7, 7);
    border-radius: 15px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5%;
  }

#login_form{
    background-color: #f9eacd;
    margin: 2rem;
    padding: 2rem;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    box-shadow: 3px 3px 5px #9c7557;
    border: solid #9c7557;
}

#login_input{
    color: #573f2c;
}

#login_input-helper-text{
    display: none;
}

#field{
    margin: 1rem;
}

#submit{
    background-color: #573f2c;
}

#loginicon{
    height: 50px;
    width: 50px;
}